.App .course-list {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.App .course-list-item {
	list-style-type: none;
}

.App .form-container {
	padding: 15px;
	background-color: whitesmoke;
	border-bottom: 2px solid silver;
}
.App .response-container {
	padding: 15px;
}