.App .content {
	margin: 10px;
	padding-bottom: 80px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}

.App .toggle-collapse-button {
	width: 100%;
	left: 0;
	bottom: 0;
	position: absolute;
	background-color: transparent;
	border: none;
}
.App .toggle-collapse-button:focus {
	border-style: none;
	box-shadow: none !important;
}

.App .header {
	padding-right: 2.5rem;
}

.App .refresh-status {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0;
}
.App .refresh-status span {
	vertical-align: middle;
}
.App .refresh-status .refresh-button:hover {
	color: gray;
}

.App .refresh-status .refresh-button.dark:hover {
	color: lightgray;
}

.App .buttons {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between !important;
}

@media (max-width: 620px) {
	.App .content {
		flex-direction: column;
	}
	.App .content .panel {
		width: auto;
	}
}