.App .content {
	margin: 10px;
	padding-bottom: 80px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}

.App .toggle-collapse-button {
	width: 100%;
	left: 0;
	bottom: 0;
	position: absolute;
	background-color: transparent;
	border: none;
}
.App .toggle-collapse-button:focus {
	border-style: none;
	box-shadow: none !important;
}

.App .header {
	padding-right: 2.5rem;
}

.App .refresh-status {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0;
	box-shadow: 0 0.5em 1em 0.125em rgb(10 10 10 / 20%), 0 0 0 1px rgb(10 10 10 / 2%);
}
.App .refresh-status span {
	vertical-align: middle;
}
.App .refresh-status .refresh-button:hover {
	color: gray;
}
@media (prefers-color-scheme: dark) {
	.App .refresh-status .refresh-button:hover {
		color: lightgray;
	}
}

@media (max-width: 620px) {
	.App .content {
		flex-direction: column;
	}
	.App .content .panel {
		width: auto;
	}
}