@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";
/* @import 'bulmaswatch/flatly/bulmaswatch.min.css';
@import 'bulmaswatch/darkly/bulmaswatch.min.css' (prefers-color-scheme: dark); */
@import 'bulma-switch-control/css/main.min.css';

body {
  margin: 0;
}

input {
	font-size: inherit;
	color: inherit;
}

.bulma-loader-mixin {
	animation: spinAround .5s infinite linear;
	border: 2px solid #dbdbdb;
	border-radius: 9999px;
	border-right-color: transparent;
	border-top-color: transparent;
	content: "";
	display: inline-block;
	position: relative;
	width: 1em;
	height: 1em;
	vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
}